
#kary{
  font-family: serif;
  margin-left: 10%;
}
.cuadroBlancoK{
  background: white;
  margin: 20px;
  display: inline-block;
  position: relative;
  width: 450px;
  height: 520px;
}
.cuadroImgK{
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 20px 75px;
  background:#BDBDBD;
}
.medidaK{
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: 30px;
  color: #878585;
}
.leeK{
  position: absolute;
  left: 170px;
  bottom: 10px;
  padding: 10px;
  background: #F4A60B;
  color: white;
  width: 100px;
  border: 0px;
}
.leeK:hover{
  background: #5071E0;
}
.textoSimuladoK{
  position: absolute;
  display: inline-block;
  width: 380px;
  text-align: justify;
  bottom: 45px;
  left: 35px;
  color: #878585;
}
.ejemploK{
  position: absolute;
  bottom: 140px;
  left: 25px;
  color: #878585;
}

#mariana {
	text-align: center;
}
.contenedorM {
	width: 450px; 
	height: 500px;
	padding-top: 20px;
	padding: 15px;
	margin: 50px;
	margin-top: 10px;
	background-color: whitesmoke;
	position: relative;
	display: inline-block;
	font-family: helvetica;
}

.grBox {
	width: 300px; 
	height: 300px;
	background-color: #cccccc;
	margin: 0 auto;
	position: relative;
} 

#txt {
	position: relative;
	top: 140px;
	padding: 140px 140px 140px 130px;
}

.txtLor {
	text-align: justify;
}

.btnM {
	position: relative;
	padding:10px;
	background-color: #feb944;
	color: whitesmoke;
	margin-left: 10px;
}

.ff p {
	color: #cccccc;
}

.titles {
	text-align: left;
}
/*Edith*/
.izquierdaE{
  width:450px;
  margin:0px 40px 0px 0px;
  background-color: white;
  float:left;
}
.interiorE{
  width:300px;
  height: 300px;
  margin:30px auto 0px auto;
  background-color: #ccc;
  position:relative;
  text-align: center;
}
.h1E{
  padding: 0px 20px;
  color:#838383;
}
.pE{
  padding: 0px 20px;
  color:#838383;
  text-align: justify;
}
.buttonE{
  width:120px;
  height: 50px;
  background-color: #fcce09;
  color:white;
  font-size: 1.1em;
  margin-left:150px;
  margin-bottom: 20px;
}
.derechaE{
  width:450px;
  margin:0px 0px;
  background-color: white;
  float:left;
}
.sectionE{
  width:950px;
  margin: 0px auto 40px auto;
  height: auto;
}
.interiorEp{
  font-size: 2.3em;
  margin-top: 110px;
  margin-left: 80px;
  position:absolute;
  color:#888;
}

.contenedorA {
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    width: 450px;
    height: 480px;
    background-color: white;
    text-align: justify;
    padding: 10px;
    position: relative;
    left: 180px;
}

.imagenesA {
    background-color: #cccccc;
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    left: 50px;
}

.medidaImagenA {
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 150px;
}

.botonA {
    position: absolute;
    bottom: 0;
    left: 200px;
    background-color: #fcce09;
}

#box-mimi{
  display: inline-block;
  position: relative;
  width: 450px;
  height: 520px;
  background-color: white;
  margin-left: 120px;
  margin-top: 30px;
  color: grey;
}

#ejemplo1N{
  width: 300px;
  height: 300px;
  margin-left: 75px;
  margin-top: 20px;
}

#ejemplo2N{
  width: 294px;
  height: 294px;
  margin-left: 75px;
  margin-top: 20px;
  border: 3px solid #7CBADF;
}

h1{
  margin-left: 20px;
}
.resumenN{
  margin-left: 20px;
  color: grey;
}

.btn-home{
  background: #FEB944;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  left: 180px;
  top: 400px;
}

a:hover {
  color: grey;
}
